{%load static%}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
    <link href="{% static 'app/css/create.css' %}" rel="stylesheet" />

</head>

<body>
    <div class="container">


        <h2>Update Product</h2>

        {% if messages %}
            {% for message in messages %}
                <div class="message">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="post" enctype="multipart/form-data" action="{% url 'app:update' product.id %}">
            {% csrf_token %}
            {{form.as_p}}

            <button type="submit" class="btn">Save</button>
        </form>

        <a href="{% url 'app:index' %}" class="back">← Back to home</a>
    </div>
</body>
</html>